
@{
    //ViewBag.Title = "Sub-Menu Item | " + IqraBase.Web.Service.AppService.Name;
}

<div>
    <div class="empty_style button_container row">
        <a class="btn btn-default btn-round primary pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
    </div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Areas/MenuArea/Content/SubMenuItem/AppScript.js"></script>
