@{
    ViewData["Title"] = "Complains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script defer type="module" src="~/js/MiscellaneousArea/complain.js"></script>

<div id="page_container">
    <div class="row filter_container"> </div>
    <div class="empty_style button_container row"> </div>
    <div id="grid_container"></div>
</div>

