
@{
    ViewBag.Title = "Menu Access";
}

<div>
    <div class="empty_style button_container row">
    </div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Areas/MenuArea/Content/MenuAccess/CategoryAccess.js"></script>
