
<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" class="auto_bind" data-binding="Title">LOGIN</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm">
        <div class="input_container row">
            <div class="col-xs-4 field_title">Username</div>
            <div class="col-xs-8">
                <div class="form-group">
                    <input class="form-control" data-binding="UserName" required="" maxlength="50" data-minlength="5" data-val="true" name="UserName" placeholder="UserName" data-type="string" max="" min="" type="text">
                </div>
            </div>
            <div class="col-xs-4 field_title">Password</div>
            <div class="col-xs-8">
                <div class="form-group" style="margin-bottom: 5px;">
                    <input class="form-control" data-binding="Password" required="" data-minlength="5" name="Password" placeholder="Password" data-type="string" max="" min="" type="password">
                </div>
            </div>
            <div class="col-xs-12 label_text" style="text-align: right;">
                <a class="btn_create_account">Create Account</a>
            </div>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" style="margin:0 !important" type="button">
                    <span class="glyphicon glyphicon-remove"></span> LogIn
                </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" style="margin:0 !important" type="button">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
