
@{
    ViewData["Title"] = "Product Descriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/lib/summernote/summernote-bs4.js"></script>
<script type="module" defer src="~/js/product-area/product-description.js"></script>

<section>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Product Name</label>
            <input type="text" name="name" id="name" value="" disabled class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label>Current Price</label>
            <input type="text" name="name" id="current-price" value="" disabled class="form-control" />
        </div>
        <div class="col-md-4" style="display: flex; justify-content: flex-end; align-items: end; gap: 8px">
            <button id="save" class="btn primary">Save</button>
            <button id="cancle" class="btn caution">Cancle</button>
            <button id="close" class="btn warn">Close</button>
        </div>
    </div>

    <div id="summernote"></div>
</section>


