@{
    ViewData["Title"] = "Cashback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="module" defer src="~/js/promotion-area/cashback.js"></script>


<div id="page_container">
    <div class="row filter_container"></div>
    <div class="empty_style button_container row">
        <a class="btn btn-default btn-round primary pull-right" id="add-record"><span class="glyphicon glyphicon-plus"></span>New Coupon</a>
    </div>
    <div id="grid_container"></div>
</div>

