/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*UTILITIES*/
.pointer {
  cursor: pointer;
}
.info {
  background: #286789;
}
.t-white {
  color: white !important;
}

/*CUSTOM*/
.button_container {
  margin-top: 12px;
  margin-bottom: 12px;
}

.button_container a.btn_add_print {
  font-size: 16px;
  padding: 4px 8px;
  background: #286789;
  color: white !important;
}
.button_container a.btn_add_print:hover {
  background: #3995c6;
  cursor: pointer;
}
.button_container a.btn_add_print:active {
  background: #173b4f;
  cursor: pointer;
}

td.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.action a {
  cursor: pointer !important;
  padding: 2px 5px;
  border-radius: 2px;
}
.glyphicon.glyphicon-trash {
  cursor: pointer !important;
  padding: 2px 5px;
  border-radius: 2px;
}
.button_container a.pull-right {
  margin-left: 8px;
}

a.btn.primary {
  background: #673ab7 !important;
  color: white;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border: 1px solid #673ab7;
  font-weight: bold;
}
a.btn.primary:hover {
  background: #683ab7d3 !important;
}
a.btn.primary:active {
  background: #542e94 !important;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
  color: white !important;
}

.btn_print {
  background: white !important;
  color: black;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border: 1px solid white;
  font-weight: bold;
  outline: none;
}
.btn_print:hover {
  background: white !important;
  border: 1px solid white;
  outline: none;
}
.btn_print:active {
  background: white !important;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
  color: black !important;
  border: 1px solid white;
  outline: none;
}
.button_container a.btn.btn-white.btn-default.btn-round.pull-left {
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
  border-color: #0000001f;
  color: #ff4081;
  border: 1px solid currentColor;
  border-color: #0000001f;
  font-weight: bold;
}
.button_container a.btn.btn-white.btn-default.btn-round.pull-left:hover {
  background-color: #ff408011;
}
.button_container a.btn.btn-white.btn-default.btn-round.pull-left.btn-active {
  background: #ff4081 !important;
  color: white;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
  0 3px 14px 2px #0000001f;
  border: 1px solid #ff4081;
  font-weight: bold;
}
.button_container
  a.btn.btn-white.btn-default.btn-round.pull-left.btn-active:active {
  background: #ff3176 !important;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
  border: 1px solid #ff4081;
}
ul.nav.nav-tabs li {
  cursor: pointer;
}
.main-content{
    display: flex;
}
.mb-0{
    margin: 0 !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.screen {
    max-height: 100vh;
    overflow: hidden;
}
aside.main-sidebar{
    max-height: 100vh;
    overflow: auto;
}
