<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;">Select Location</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-3 col-sm-6">
                <div>
                    <label>Province</label>
                </div>
                <div>
                    <input class="form-control" data-binding="ProvinceId" type="text">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <label>Distict</label>
                </div>
                <div>
                    <input class="form-control" data-binding="DistictId" type="text">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <label>Upazila/Thana</label>
                </div>
                <div>
                    <input class="form-control" data-binding="UpazilaId" type="text">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <label>Union</label>
                </div>
                <div>
                    <input class="form-control" data-binding="UnionId" type="text">
                </div>
            </div>
        </div>
        <div class="map_container" style="height:500px;">
            
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" style="margin:0 !important" type="button">
                    <span class="glyphicon glyphicon-remove"></span> Set this Loacation
                </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" style="margin:0 !important" type="button">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
