
@{
    ViewData["Title"] = "Units";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="module" defer src="~/js/product-area/category.js"></script>


<div id="page_container">
    <div class="row filter_container"></div>
    <div class="empty_style button_container row">
        <a class="btn btn-default btn-round primary pull-right" id="add-parent-category"><span class="glyphicon glyphicon-plus"></span>Add Root Category</a>
        <a class="btn btn-default btn-round primary pull-right" id="add-child-category"><span class="glyphicon glyphicon-plus"></span>Add Child Category</a>
    </div>
    <div id="grid_container"></div>
</div>

