
@{
    ViewData["Title"] = "Login";
}

<style>
    .auth{
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center
    }
</style>

<div class="auth">
    <div>

    </div>
</div>

