@{
    ViewData["Title"] = "App Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="module" defer src="~/js/MiscellaneousArea/app-review.js"></script>


<div id="page_container">
    <div class="row filter_container"></div>
    <div class="empty_style button_container row">
    </div>
    <div id="grid_container"></div>
</div>

